{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <div class="row">
	    <div class="col-md-6 col-md-offset-1">
		    <h2>New Item</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method="post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input required type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of the item">

					<label for="description">Description:</label>
					<textarea required class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the item"></textarea>

					<label for="Category">Category:</label>
					<div class="form-group">
						<select class="form-control" name="category">
							{% for c in categories %}
								{% if item and item.category_id == c.id %} 
									<option id="{{c.id}}" value="{{c.id}}" selected>{{c.name}}</option>
								{% else %}
									<option id="{{c.id}}" value="{{c.id}}">{{c.name}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>

					<button type="submit" class="btn btn-default" id="submit" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
	
{% endblock %}

